<?xml version="1.0" encoding="UTF-8"?>
		<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
				
					<servlet>
						<servlet-name>MikaControllerAdd</servlet-name>
						<servlet-class>controller.add.MikaControllerAdd</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>MikaControllerAdd</servlet-name>
						<url-pattern>/MikaControllerAdd</url-pattern>
					</servlet-mapping>
					
					
					<servlet>
						<servlet-name>MikaDeleteController</servlet-name>
						<servlet-class>controller.delete.MikaDeleteController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>MikaDeleteController</servlet-name>
						<url-pattern>/MikaDeleteController</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>MikaControllerPrepareAdd</servlet-name>
						<servlet-class>controller.prepareAdd.MikaControllerPrepareAdd</servlet-class>
					</servlet>
					
					<servlet>
						<servlet-name>MikaSearchController</servlet-name>
						<servlet-class>controller.search.MikaSearchController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>MikaControllerPrepareAdd</servlet-name>
						<url-pattern>/MikaControllerPrepareAdd</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>MikaControllerShow</servlet-name>
						<servlet-class>controller.show.MikaControllerShow</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>MikaControllerShow</servlet-name>
						<url-pattern>/MikaControllerShow</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>MikaPrepareUpdateController</servlet-name>
						<servlet-class>controller.update.MikaPrepareUpdateController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>MikaPrepareUpdateController</servlet-name>
						<url-pattern>/MikaPrepareUpdateController</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>MikaUpdateController</servlet-name>
						<servlet-class>controller.update.MikaUpdateController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>MikaUpdateController</servlet-name>
						<url-pattern>/MikaUpdateController</url-pattern>
					</servlet-mapping>
					
					<servlet-mapping>
						<servlet-name>MikaSearchController</servlet-name>
						<url-pattern>/MikaSearchController</url-pattern>
					</servlet-mapping>
			   
					<servlet>
						<servlet-name>ZikaControllerAdd</servlet-name>
						<servlet-class>controller.add.ZikaControllerAdd</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>ZikaControllerAdd</servlet-name>
						<url-pattern>/ZikaControllerAdd</url-pattern>
					</servlet-mapping>
					
					
					<servlet>
						<servlet-name>ZikaDeleteController</servlet-name>
						<servlet-class>controller.delete.ZikaDeleteController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>ZikaDeleteController</servlet-name>
						<url-pattern>/ZikaDeleteController</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>ZikaControllerPrepareAdd</servlet-name>
						<servlet-class>controller.prepareAdd.ZikaControllerPrepareAdd</servlet-class>
					</servlet>
					
					<servlet>
						<servlet-name>ZikaSearchController</servlet-name>
						<servlet-class>controller.search.ZikaSearchController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>ZikaControllerPrepareAdd</servlet-name>
						<url-pattern>/ZikaControllerPrepareAdd</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>ZikaControllerShow</servlet-name>
						<servlet-class>controller.show.ZikaControllerShow</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>ZikaControllerShow</servlet-name>
						<url-pattern>/ZikaControllerShow</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>ZikaPrepareUpdateController</servlet-name>
						<servlet-class>controller.update.ZikaPrepareUpdateController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>ZikaPrepareUpdateController</servlet-name>
						<url-pattern>/ZikaPrepareUpdateController</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>ZikaUpdateController</servlet-name>
						<servlet-class>controller.update.ZikaUpdateController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>ZikaUpdateController</servlet-name>
						<url-pattern>/ZikaUpdateController</url-pattern>
					</servlet-mapping>
					
					<servlet-mapping>
						<servlet-name>ZikaSearchController</servlet-name>
						<url-pattern>/ZikaSearchController</url-pattern>
					</servlet-mapping>
			   
					<servlet>
						<servlet-name>PeraControllerAdd</servlet-name>
						<servlet-class>controller.add.PeraControllerAdd</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>PeraControllerAdd</servlet-name>
						<url-pattern>/PeraControllerAdd</url-pattern>
					</servlet-mapping>
					
					
					<servlet>
						<servlet-name>PeraDeleteController</servlet-name>
						<servlet-class>controller.delete.PeraDeleteController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>PeraDeleteController</servlet-name>
						<url-pattern>/PeraDeleteController</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>PeraControllerPrepareAdd</servlet-name>
						<servlet-class>controller.prepareAdd.PeraControllerPrepareAdd</servlet-class>
					</servlet>
					
					<servlet>
						<servlet-name>PeraSearchController</servlet-name>
						<servlet-class>controller.search.PeraSearchController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>PeraControllerPrepareAdd</servlet-name>
						<url-pattern>/PeraControllerPrepareAdd</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>PeraControllerShow</servlet-name>
						<servlet-class>controller.show.PeraControllerShow</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>PeraControllerShow</servlet-name>
						<url-pattern>/PeraControllerShow</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>PeraPrepareUpdateController</servlet-name>
						<servlet-class>controller.update.PeraPrepareUpdateController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>PeraPrepareUpdateController</servlet-name>
						<url-pattern>/PeraPrepareUpdateController</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>PeraUpdateController</servlet-name>
						<servlet-class>controller.update.PeraUpdateController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>PeraUpdateController</servlet-name>
						<url-pattern>/PeraUpdateController</url-pattern>
					</servlet-mapping>
					
					<servlet-mapping>
						<servlet-name>PeraSearchController</servlet-name>
						<url-pattern>/PeraSearchController</url-pattern>
					</servlet-mapping>
			   
		
		<listener>
				<listener-class>util.HibernateListener</listener-class>
		</listener> 
		
		<welcome-file-list>
			<welcome-file>/home.jsp</welcome-file>
		</welcome-file-list>
		<error-page>
			<exception-type>
				java.lang.Throwable
			</exception-type>
			
			<location>/error.jsp</location>
		</error-page>
		<error-page>
			<error-code>404</error-code>
			<location>/404.jsp</location>
		</error-page>
			
		</web-app>