<?xml version="1.0" encoding="UTF-8"?>
		<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
				
					<servlet>
						<servlet-name>StudentControllerAdd</servlet-name>
						<servlet-class>controller.add.StudentControllerAdd</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>StudentControllerAdd</servlet-name>
						<url-pattern>/StudentControllerAdd</url-pattern>
					</servlet-mapping>
					
					
					<servlet>
						<servlet-name>StudentDeleteController</servlet-name>
						<servlet-class>controller.delete.StudentDeleteController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>StudentDeleteController</servlet-name>
						<url-pattern>/StudentDeleteController</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>StudentControllerPrepareAdd</servlet-name>
						<servlet-class>controller.prepareAdd.StudentControllerPrepareAdd</servlet-class>
					</servlet>
					
					<servlet>
						<servlet-name>StudentSearchController</servlet-name>
						<servlet-class>controller.search.StudentSearchController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>StudentControllerPrepareAdd</servlet-name>
						<url-pattern>/StudentControllerPrepareAdd</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>StudentControllerShow</servlet-name>
						<servlet-class>controller.show.StudentControllerShow</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>StudentControllerShow</servlet-name>
						<url-pattern>/StudentControllerShow</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>StudentPrepareUpdateController</servlet-name>
						<servlet-class>controller.prepareUpdate.StudentPrepareUpdateController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>StudentPrepareUpdateController</servlet-name>
						<url-pattern>/StudentPrepareUpdateController</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>StudentUpdateController</servlet-name>
						<servlet-class>controller.update.StudentUpdateController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>StudentUpdateController</servlet-name>
						<url-pattern>/StudentUpdateController</url-pattern>
					</servlet-mapping>
					
					<servlet-mapping>
						<servlet-name>StudentSearchController</servlet-name>
						<url-pattern>/StudentSearchController</url-pattern>
					</servlet-mapping>
			   
					<servlet>
						<servlet-name>ProfessorControllerAdd</servlet-name>
						<servlet-class>controller.add.ProfessorControllerAdd</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>ProfessorControllerAdd</servlet-name>
						<url-pattern>/ProfessorControllerAdd</url-pattern>
					</servlet-mapping>
					
					
					<servlet>
						<servlet-name>ProfessorDeleteController</servlet-name>
						<servlet-class>controller.delete.ProfessorDeleteController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>ProfessorDeleteController</servlet-name>
						<url-pattern>/ProfessorDeleteController</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>ProfessorControllerPrepareAdd</servlet-name>
						<servlet-class>controller.prepareAdd.ProfessorControllerPrepareAdd</servlet-class>
					</servlet>
					
					<servlet>
						<servlet-name>ProfessorSearchController</servlet-name>
						<servlet-class>controller.search.ProfessorSearchController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>ProfessorControllerPrepareAdd</servlet-name>
						<url-pattern>/ProfessorControllerPrepareAdd</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>ProfessorControllerShow</servlet-name>
						<servlet-class>controller.show.ProfessorControllerShow</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>ProfessorControllerShow</servlet-name>
						<url-pattern>/ProfessorControllerShow</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>ProfessorPrepareUpdateController</servlet-name>
						<servlet-class>controller.prepareUpdate.ProfessorPrepareUpdateController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>ProfessorPrepareUpdateController</servlet-name>
						<url-pattern>/ProfessorPrepareUpdateController</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>ProfessorUpdateController</servlet-name>
						<servlet-class>controller.update.ProfessorUpdateController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>ProfessorUpdateController</servlet-name>
						<url-pattern>/ProfessorUpdateController</url-pattern>
					</servlet-mapping>
					
					<servlet-mapping>
						<servlet-name>ProfessorSearchController</servlet-name>
						<url-pattern>/ProfessorSearchController</url-pattern>
					</servlet-mapping>
			   
					<servlet>
						<servlet-name>SubjectControllerAdd</servlet-name>
						<servlet-class>controller.add.SubjectControllerAdd</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>SubjectControllerAdd</servlet-name>
						<url-pattern>/SubjectControllerAdd</url-pattern>
					</servlet-mapping>
					
					
					<servlet>
						<servlet-name>SubjectDeleteController</servlet-name>
						<servlet-class>controller.delete.SubjectDeleteController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>SubjectDeleteController</servlet-name>
						<url-pattern>/SubjectDeleteController</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>SubjectControllerPrepareAdd</servlet-name>
						<servlet-class>controller.prepareAdd.SubjectControllerPrepareAdd</servlet-class>
					</servlet>
					
					<servlet>
						<servlet-name>SubjectSearchController</servlet-name>
						<servlet-class>controller.search.SubjectSearchController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>SubjectControllerPrepareAdd</servlet-name>
						<url-pattern>/SubjectControllerPrepareAdd</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>SubjectControllerShow</servlet-name>
						<servlet-class>controller.show.SubjectControllerShow</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>SubjectControllerShow</servlet-name>
						<url-pattern>/SubjectControllerShow</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>SubjectPrepareUpdateController</servlet-name>
						<servlet-class>controller.prepareUpdate.SubjectPrepareUpdateController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>SubjectPrepareUpdateController</servlet-name>
						<url-pattern>/SubjectPrepareUpdateController</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>SubjectUpdateController</servlet-name>
						<servlet-class>controller.update.SubjectUpdateController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>SubjectUpdateController</servlet-name>
						<url-pattern>/SubjectUpdateController</url-pattern>
					</servlet-mapping>
					
					<servlet-mapping>
						<servlet-name>SubjectSearchController</servlet-name>
						<url-pattern>/SubjectSearchController</url-pattern>
					</servlet-mapping>
			   
					<servlet>
						<servlet-name>GradeControllerAdd</servlet-name>
						<servlet-class>controller.add.GradeControllerAdd</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>GradeControllerAdd</servlet-name>
						<url-pattern>/GradeControllerAdd</url-pattern>
					</servlet-mapping>
					
					
					<servlet>
						<servlet-name>GradeDeleteController</servlet-name>
						<servlet-class>controller.delete.GradeDeleteController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>GradeDeleteController</servlet-name>
						<url-pattern>/GradeDeleteController</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>GradeControllerPrepareAdd</servlet-name>
						<servlet-class>controller.prepareAdd.GradeControllerPrepareAdd</servlet-class>
					</servlet>
					
					<servlet>
						<servlet-name>GradeSearchController</servlet-name>
						<servlet-class>controller.search.GradeSearchController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>GradeControllerPrepareAdd</servlet-name>
						<url-pattern>/GradeControllerPrepareAdd</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>GradeControllerShow</servlet-name>
						<servlet-class>controller.show.GradeControllerShow</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>GradeControllerShow</servlet-name>
						<url-pattern>/GradeControllerShow</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>GradePrepareUpdateController</servlet-name>
						<servlet-class>controller.prepareUpdate.GradePrepareUpdateController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>GradePrepareUpdateController</servlet-name>
						<url-pattern>/GradePrepareUpdateController</url-pattern>
					</servlet-mapping>
					
					<servlet>
						<servlet-name>GradeUpdateController</servlet-name>
						<servlet-class>controller.update.GradeUpdateController</servlet-class>
					</servlet>
					
					<servlet-mapping>
						<servlet-name>GradeUpdateController</servlet-name>
						<url-pattern>/GradeUpdateController</url-pattern>
					</servlet-mapping>
					
					<servlet-mapping>
						<servlet-name>GradeSearchController</servlet-name>
						<url-pattern>/GradeSearchController</url-pattern>
					</servlet-mapping>
			   
		
		<listener>
				<listener-class>util.HibernateListener</listener-class>
		</listener> 
		
		<welcome-file-list>
			<welcome-file>/home.jsp</welcome-file>
		</welcome-file-list>
		<error-page>
			<exception-type>
				java.lang.Throwable
			</exception-type>
			
			<location>/error.jsp</location>
		</error-page>
		<error-page>
			<error-code>404</error-code>
			<location>/404.jsp</location>
		</error-page>
			
		</web-app>